.feed {
  position: relative;
  height: 100%;
  width: 480px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.feed__items {
  position: relative;
  padding: 100px 20px 0;
  width: 100%;
}

.feed-item {
  display: flex;
  flex-direction: column;
  padding: 0 0 25px 0;
  border-bottom: 1px solid #cccccc;
}

.feed-item__text-content {
  padding: 5px 0;
  margin-bottom: 5px;
}

.feed-item__title {
  font-size: 16px;
  font-weight: bold;
}

.feed-item__description {
  font-size: 16px;
}

.feed-item__image {
  width: 480px;
  border-radius: 8px;
}

.feed-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.feed-spinner__text {
  padding-left: 10px;
}